<div class="gen-container">
  <h2>Selecciona una Generación</h2>
  <nav class="nav-gen">
    <ul>
      <li>
        <a routerLink="/gen/1">
          <span>1a<br>Generación</span>
        </a>
      </li>
      <li>
        <a routerLink="/gen/2">
          <span>2a<br>Generación</span>
        </a>
      </li>
      <li>
        <a routerLink="/gen/3">
          <span>3a<br>Generación</span>
        </a>
      </li>
      <li>
        <a routerLink="/gen/4">
          <span>4a<br>Generación</span>
        </a>
      </li>
      <li>
        <a routerLink="/gen/5">
          <span>5a<br>Generación</span>
        </a>
      </li>
      <li>
        <a routerLink="/gen/6">
          <span>6a<br>Generación</span>
        </a>
      </li>
      <li>
        <a routerLink="/gen/7">
          <span>7a<br>Generación</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
