<nav>
  <ul class="nav__list">
    <li class="nav__item">
      <a routerLink="">
        Inicio
      </a>
    </li>
    <li class="nav__item" >
      <a routerLink="gen/1" routerLinkActive="active">
        1a Gen.
      </a>
    </li>
    <li class="nav__item">
      <a routerLink="gen/2" routerLinkActive="active">
        2a Gen.
      </a>
    </li>
    <li class="nav__item">
      <a routerLink="gen/3" routerLinkActive="active">
        3a Gen.
      </a>
    </li>
    <li class="nav__item">
      <a routerLink="gen/4" routerLinkActive="active">
        4a Gen.
      </a>
    </li>
    <li class="nav__item">
      <a routerLink="gen/5" routerLinkActive="active">
        5a Gen.
      </a>
    </li>
    <li class="nav__item">
      <a routerLink="gen/6" routerLinkActive="active">
        6a Gen.
      </a>
    </li>
    <li class="nav__item">
      <a routerLink="gen/7" routerLinkActive="active">
        7a Gen.
      </a>
    </li>
  </ul>
</nav>
