/* You can add global styles to this file, and also import other style files */
// font-family: 'Varela Round', sans-serif;
// font-family: 'Cabin Condensed', sans-serif;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  h1, h2, h3 {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 50px;
  }
}
